<div class="bg-body dark:bg-darkmode-body">
  {{ $image:= .Params.image }}
  {{ if $image }}
  <a href="{{ .RelPermalink }}">
    {{ partial "image" (dict
      "Src" ($image | relURL)
      "Context" .Page
      "Alt" .Title
      "class" "mb-6 w-full rounded object-cover h-48"
      ) }}
  </a>
  {{ end }}
  <h3 class="mb-3" style="font-size: 22px;">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h3>
  {{ $categories:= .Params.categories }}
  {{ if $categories }}
    <ul class="mb-4">
      <li class="mr-4 inline-block">
        {{/* --- Resolve author image: post -> author page -> site default --- */}}
        {{ $authorSlug := .Params.author | urlize }}
        {{ $authorImg := .Params.authorimage }}
        {{ if not $authorImg }}
          {{ with site.GetPage (printf "authors/%s" $authorSlug) }}
            {{ $authorImg = or .Params.image (or .Params.avatar .Params.photo) }}
          {{ end }}
        {{ end }}
        {{ if not $authorImg }}
          {{ $authorImg = site.Params.defaultAuthorImage }}
        {{ end }}

        <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/" class="inline-flex items-center">
          {{ with $authorImg }}
            <img src="{{ . | relURL }}" alt="{{ $.Params.author }}" class="mr-2 h-5 w-5 rounded-full object-cover" />
          {{ else }}
            <i class="fa-regular fa-circle-user mr-2"></i>
          {{ end }}
          {{ .Params.author }}
        </a>
      </li>
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-folder mr-1"></i>
        {{ range $i,$p:= $categories }}
          <a
            href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
            class="ms-1"
            >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
              {{ "," }}
            {{ end }}
          </a>
        {{ end }}
      </li>
    </ul>
  {{ end }}
</div>